<h1 style="text-align: center;">Factura</h1>

<form action="">
      <fieldset>
         <legend>Ingrese Datos</legend>
      <label for="art1">Precio Articulo 1</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art2">Precio Articulo 2</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art3">Precio Articulo 3</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art4">Precio Articulo 4</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art5">Precio Articulo 5</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art6">Precio Articulo 6</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art7">Precio Articulo 7</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art8">Precio Articulo 8</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art9">Precio Articulo 9</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art10">Precio Articulo 10</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art11">Precio Articulo 11</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art12">Precio Articulo 12</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art13">Precio Articulo 13</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art14">Precio Articulo 14</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art15">Precio Articulo 15</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art16">Precio Articulo 16</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art17">Precio Articulo 17</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art18">Precio Articulo 18</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="art19">Precio Articulo 19</label>
      <input type="text" placeholder="Escribe aqui el precio">
      <br><br>
      <label for="desc" >Descuento</label>
      <input type="text" placeholder="%" name="desc" id="desc">
      <br><br>
      <input type="submit" placeholder="Enviar" id="Enviar">
   </fieldset>
</form>


