<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Ludiflex | Login</title>

</head>
<body>
   <div class="box">
    <div class="container">

        <div class="top">
            <span>Ya tienes cuenta?</span>
            <header>Iniciar sesion</header>
        </div>

        <div class="input-field">
            <input type="text" class="input" placeholder="Nombre" id="">
            <i class='bx bx-user' ></i>
        </div>
        <br>
        <div class="input-field">
            <input type="Password" class="input" placeholder="contraseña" id="">
            <i class='bx bx-lock-alt'></i>
        </div>
       <br>
        <div class="input-field">
            <button (click)="navegar()" type="submit" class="submit" value="Login" id="">Login</button>
        </div>
<br>
        <div class="recuerda">
            <div class="one">
               <input type="checkbox" name="" id="check">
               <label for="check"> Recordar mi contraseña</label>
            </div>
            <div class="two">
                <label><a href="#">No te acuerdas de tu contraseña?</a></label>
            </div>
        </div>
    </div>
</div>  
</body>
</html>